<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
     <link rel="stylesheet" href="" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap"
      rel="stylesheet"
    />

    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id="nav-link">
          <li class="active">
            <a href="/">WEB322 - Kenil Monpara</a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/vehicles">Vehicles</a></li>
          <li><a href="/vehicles2023">Vehicles 2023</a></li>
          <li><a href="/brands">Brands</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <div class="left-column">
        <h2>Coming Soon</h2>
        <p>Stay tuned for exciting updates!</p>
      </div>
      <div class="right-column">
        <h2>Welcome</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Welcome to our website.
        </p>
      </div>
    </div>
  </body>
</html>
